@import 'app/styles/mixins';

@keyframes show-header {
  100% {
    opacity: 1;
  }
}

.header {
  color: var(--light-color);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  animation-delay: $splash-duration;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-name: show-header;
}

.dark {
  & .item {
    color: var(--dark-color);
  }

  & .link {
    color: var(--dark-color);

    &:hover:after {
      background: var(--dark-color);
    }
  }
}

.nav {
  padding: toRem(40) var(--horizontal-padding) 0;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  color: var(--bone-color);
  font-size: toRem(12);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: color .25s ease-in-out;

  @include min-width(medium) {
    font-size: toRem(16);
  }
}

.link {
  color: var(--bone-color);
  text-decoration: none;
  transition: color .25s ease-in-out;

  &:after {
    background: transparent;
    content: '';
    display: block;
    height: 2px;
    margin: auto;
    transition: width 0.5s ease;
    width: 0px;
  }

  &:hover:after {
    background: var(--bone-color);
    width: 100%;
  }
}