@import 'app/styles/variables';

@function toRem($value) {
  $remValue: ($value / 20) + rem; 
  @return $remValue;
}

@mixin min-width($breakpoint) {
  @if ($breakpoint == xsmall) {
    @media (min-width: $breakpoint-xsmall) {
      @content;
    }
  } @else if ($breakpoint == small) {
    @media (min-width: $breakpoint-small) {
      @content;
    }
  } @else if ($breakpoint == medium) {
    @media (min-width: $breakpoint-medium) {
      @content;
    }
  } @else if ($breakpoint == large) {
    @media (min-width: $breakpoint-large) {
      @content;
    }
  } @else if ($breakpoint == xlarge) {
    @media (min-width: $breakpoint-extra-large) {
      @content;
    }
  } @else {
    @error "UNKNOWN MEDIA BREAKPOINT #{$breakpoint}";
  }
}

@mixin fill-screen-height {
  height: 100vh;
  max-height: -webkit-fill-available;
}

@mixin button-base {
  font-weight: 500;
  font-size: 1em;
  min-width: 200px;
  padding: 16px 24px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out; 
}

@mixin button {
  @include button-base;
  border: 1px solid var(--dark-color);
  color: var(--dark-color);

  &:hover, &:focus {
    background-color: var(--dark-color);
    color: var(--bone-color);
  }
}

@mixin button-light {
  @include button-base;
  border: 1px solid var(--bone-color);
  color: var(--bone-color);

  &:hover, &:focus {
    background-color: var(--bone-color);
    color: var(--dark-color);
  }
}

@mixin section-padding {
  padding: var(--vertical-padding) var(--horizontal-padding);
}

@mixin section-title {
  font-size: toRem(100);
  line-height: 1.3;
  margin-bottom: toRem(24);

  @include min-width(medium) {
    font-size: toRem(128);
  }
}

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}
