@import 'app/styles/mixins';

.root {
  @include section-padding;
  align-items: center;
  background: var(--dark);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  @include section-title;
  color: var(--bone-color);
}

.subtitle {
  color: var(--blood-color);
  font-size: toRem(24);
  font-weight: normal;
  letter-spacing: 0.1em;
  margin-bottom: toRem(16);
  text-transform: uppercase;
}

.text {
  color: var(--bone-color);
  font-size: toRem(20);
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.25;
  margin-bottom: toRem(64);
  max-width: 684px;
}

.gallery {
  display: flex;
  gap: 72px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include min-width(medium) {
    column-count: 2;
  }

  @include min-width(large) {
    column-count: 3;
  }
}

.item {
  margin-bottom: var(--horizontal-padding);

  @include min-width(large) {
    &:nth-child(4) {
      padding-top: var(--horizontal-padding);
    }
  }
}

.image {
  height: auto;
  max-width: 400px;
  width: 100%;
}