@import 'app/styles/mixins';

.root {
  @include section-padding;
  align-items: center;
  background: var(--bone-color);
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  width: 100%;

  @include min-width(large) {
    max-width: $breakpoint-large;
  }
}

.title {
  @include section-title;
  color: var(--blood-color);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include min-width(medium) {
    flex-direction: row;
    gap: 40px;
  }
}

.video {
  width: 100%;
}

.content {
  flex: 1;
}

.subtitle {
  color: var(--blood-color);
  font-size: toRem(16);
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: toRem(16);
  text-transform: uppercase;
}

.text {
  font-size: toRem(24);
  letter-spacing: 0.1em;
  margin-bottom: toRem(54);
  text-transform: uppercase;
}

.buttonPanel {
  display: flex;
  gap: toRem(16);
  min-width: 0;
}

.button {
  max-width: 200px;
  min-width: 0;
  width: 100%;

  @include min-width(medium) {
    max-width: auto;
    min-width: 200px;
    width: auto;
  }
}

.rsvpLink {
  background-color: var(--dark-color);
  color: var(--bone-color);

  &:hover, &:focus {
    background-color: var(--bone-color);
    color: var(--dark-color);
    border-color: var(--dark-color);
  }
}