@import 'app/styles/mixins';

:root {
  --bone-color: #F4ECE0;
  --dark-overlay-color: rgba(6, 4, 7, 0.5);
  --dark-color: #1D1A1D;
  --blood-color: #B73B24;
  --base-size: 4px;
  --large-horizontal-padding: calc(var(--base-size) * 16);
  --med-horizontal-padding: calc(var(--base-size) * 8);
  --small-horizontal-padding: calc(var(--base-size) * 6);
  --large-vertical-padding: calc(var(--base-size) * 32);
  --med-vertical-padding: calc(var(--base-size) * 16);
  --small-vertical-padding: calc(var(--base-size) * 12);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: var(--dark-color);
  margin: 0 auto;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
  font-size: 16px;

  @include min-width(medium) {
    font-size: 18px;
  }

  @include min-width(large) {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}