@import 'app/styles/mixins';

.root {
  background: var(--bone-color);
  max-width: 100%;
  min-height: 100vh;
}

.header {
  padding: var(--vertical-padding) var(--horizontal-padding) toRem(64);
}

.title {
  @include section-title;
  color: var(--blood-color);
}

.text {
  font-size: toRem(20);
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.25;
  max-width: 684px;
}

.body {
  width: 100vw;
  overflow-x: scroll;
}

.list {
  list-style-type: none;
  padding: 0 var(--horizontal-padding) var(--vertical-padding);
  margin: 0;
  min-width: 100%;
  display: flex;
  width: fit-content;
}

.listItem {
  flex: 0 0 300px;
  margin-right: 24px;
  min-width: 300px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.link {
  background: var(--dark-color);
  display: flex;
  margin-bottom: toRem(24);
}

.image {
  aspect-ratio: 5000 / 5973;
  background: gray;
  width: 100%;
  transition: opacity 0.25s ease-in-out;
  opacity: 1;

  &:hover {
    opacity: 0.6;
  }
}

.location {
  font-size: toRem(16);
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: toRem(16);
}

.favorite {
  color: var(--blood-color);
  font-size: toRem(24);
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: toRem(16);
}

.description {
  font-size: toRem(16);
  font-weight: 500;
  letter-spacing: 0.03em;
}