@import 'app/styles/mixins';

.root {
  @include fill-screen-height;
  position: relative;
}

.video {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.content {
  align-items: center;
  background: var(--dark-overlay-color);
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
}

.title {
  color: var(--bone-color);
  font-size: 15vw;
  margin: 0;
}